{% extends "MainApp/base.html" %}

{% block content %}
<div class="container">
  <h2>Курсовая работа создана студенткой КИ18-12Б: </h2>
  <strong><p>Арапова Елена</p></strong>
  {% load static %}
  <img src={% static 'mainApp/image/logo_main.jpg' %} class="logo">
  <br>
</div>
<div class="container">
  <a href="#" data-toggle="tooltip" title="Тут есть немного JS">JavaScript был тут</a>
</div>
<script>
  $(document).ready (function (){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock %}
